body {
  font-family: sans-serif;
  background: #121212;
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow-y: scroll;
  height: 100vh;
}

input[type="number"] {
  border-radius: 3px;
  border: 1px solid rgb(95, 95, 95);
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(80, 80, 80, 0.8);
  text-align: center;
}

button {
  border-radius: 3px;
  border: 1px solid rgb(95, 95, 95);
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(80, 80, 80, 0.8);
  text-align: center;
  margin: 3px;
}

.my-container {
  /* padding: 0px 3px; */
  height: 100%;
  min-height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3% 5%;
  /* background-color: #24252A; */
  box-shadow: 0 4px 2px -2px rgba(36, 37, 42, 0.2);
  background: rgb(36, 37, 42);
  /* background: linear-gradient(0deg, rgba(36,37,42,1) 0%, rgba(60,60,60,1) 100%); */
  overflow: hidden;
  margin-bottom: 5px;
}

header h2,
header h3 {
  /* font-size: 1rem; */
  font-weight: 500;
  color: #edf0f1;
  margin: 0;
}

.nav_links li,
.nav_links button,
.nav_links a,
.nav_links label {
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
  margin: 0;
}

.nav_links {
  list-style: none;
  margin: 0;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
  color: #0088a9;
}
.nav_links button {
  padding: 3px 15px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.nav_links button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.upload_file,
.merge_file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upload_file + label,
.merge_file + label {
  padding: 3px 15px;
  background-color: rgba(209, 86, 86, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.merge_file + label {
  background-color: rgba(86, 180, 86, 1);
}

.upload_file:focus + label,
.upload_file + label:hover {
  background-color: rgba(209, 86, 86, 0.8);
}

.merge_file:focus + label,
.merge_file + label:hover {
  background-color: rgba(86, 180, 86, 0.8);
}

body .lm_content {
  overflow: scroll;
  color: #eaedf1;
}

.workplace {
  display: grid;
  grid-template-columns: 7fr 3fr 2fr;
  height: 100%;
}

#simulator {
  padding: 6px 6px 0px 6px;
  margin-right: 3px;
}

#editor {
  padding: 6px 6px 0px 6px;
  padding-left: 10px;
  padding-right: 6px;
  /* border-right: 1px solid gray;
    border-left: 1px solid gray; */
  font-size: small;
  overflow-y: auto;
}

.slider-list {
  margin: 10px 0px;
}

.light-input-block {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin: 3px 0;
}

.light-input {
  width: 60px;
}

.noUi-target {
  height: 8px;
  width: 180px;
  margin: 0 20px 0 0;
  background-color: rgba(75, 75, 75, 0.5);
  border: 1px solid rgb(95, 95, 95);
  border-radius: 3px;
}

.noUi-handle {
  height: 18px;
  width: 18px;
  border-radius: 6px;
  cursor: grab;
  background-color: rgba(75, 75, 75, 1);
  border: 1px solid rgb(100, 100, 100);
}

.noUi-connect {
  background: rgba(100, 100, 100, 0.7);
}

[disabled] .noUi-connect {
  background: rgba(150, 150, 150, 0.7);
}

.checkbox-list {
  display: flex;
}

.dancer-checkbox-text {
  margin: 0px 0.5em 0.5em 0px;
}

.dancer-checkbox {
  margin-right: 3px;
  /* font-size: large;
    margin: 0 0.3em 0 0;
    transform: scale(1.5); */
  border: 1px solid rgb(95, 95, 95);
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(100, 100, 100, 0.8);
}

.time-el {
  /* margin: 5px; */
  display: flex;
  align-items: center;
}

.time {
  margin: 0 5px 0 0;
  padding: 0 5px 0 0;
}

.time-input {
  width: 100px;
  height: 30px;
}

.timeInd-switch-btn {
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 3px;
  color: rgba(200, 200, 200, 1);
  background-color: rgba(100, 100, 100, 0.8);
  border: 1px solid rgb(95, 95, 95);
  text-align: center;
  margin: 5px 3px;
  height: 30px;
  /* font-size: small; */
}

.timeInd-input {
  /* margin: 5px 0; */
  width: 3em;
  height: 30px;
}

.edit-btn-grp {
  display: flex;
  margin: 5px 0 5px 0;
}

.edit-btn {
  margin: 0px 5px;
  /* height: 40px;
    width: 60px; */
  border-radius: 3px;
  cursor: pointer;
  /* font-size: large; */
  -webkit-appearance: none;
  border-radius: 5px;
  padding: 10px 2%;
  text-align: center;
  line-height: 5px;
  /* display: flex;
    align-items: center;
    justify-content: center; */
}

.editbtn,
.addbtn {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #5aa1c2;
  color: #5aa1c2;
}

.editbtn::hover,
.addbtn:hover {
  background-color: rgba(90, 161, 194, 1);
  color: #eaedf1;
}

.delbtn {
  background-color: rgb(184, 76, 75, 0);
  border: 1px solid rgb(184, 76, 75);
  color: rgb(184, 76, 75);
}

.savebtn {
  background-color: rgb(52, 166, 155, 0);
  border: 1px solid rgb(52, 166, 155);
  color: rgb(52, 166, 155);
}

.edit-btn.selected {
  background-color: #5aa1c2;
  color: #eaedf1;
}

#audio {
  /* border-top: 1px solid grey */
}

#waveform {
  position: relative;
  margin-top: 3px;
}

#audio #operators {
  text-align: center;
  margin-top: 3px;
  border-bottom: 1px gray dashed;
}

#audio #operators svg {
  margin: 0px 3px 0px 3px;
}

#presets,
#scenes {
  padding: 6px 6px 0px 6px;
  position: relative;
  overflow-y: auto;
}

#presets .title,
#scenes .title {
  border-bottom: 1px solid gray;
}

.presets-addbtn,
.scenes-addbtn {
  position: absolute;
  right: 10px;
  top: 6px;
  cursor: pointer;
}

#presets-list {
}

.preset-li,
.scenes-li {
  padding: 5px 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.preset-li svg,
.scenes-li svg {
  cursor: pointer;
  padding-left: 6px;
}

.preset-li:hover,
.scenes-li:hover {
  background-color: rgba(100, 100, 100, 0.5);
  transition: background-color 0.2s;
}

.bg-modal {
  width: 100%;
  height: 100vh;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 25;
  display: none;
}

.my-modal-content {
  width: 800px;
  max-width: 100%;
  height: 600px;
  max-height: 100%;
  background-color: #212121;
  color: #eaedf1;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  border: 1px gray solid;
}

.modal-props {
  height: 40px;
  display: flex;
}

.modal-name {
  height: 100%;
  display: flex;
  align-items: center;
}

.modal-name input {
  font-size: 16px;
  padding: 0.375rem 0.75rem;
  border: 1px solid gray;
  border-radius: 0.25rem;
}

.modal-select-dancer {
  margin-left: 10px;
  height: 100%;
  display: flex;
  align-items: center;
}
.modal-select-dancer button {
  border: 1px solid gray;
}

.modal-select-dancer input {
  font-size: 16px;
  padding: 5px 0px;
}

.modal-scrollable {
  height: 100%;
}

.modal-workplace {
  margin-top: 10px;
  height: 520px;
  display: flex;
  /* justify-content: center;
    align-items: center; */
}

.modal-editor {
  width: 400px;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  /* padding-left: 40px; */
}

.modal-save-btn {
  position: absolute;
  top: 0;
  right: 50px;
  font-size: 30px;
  cursor: pointer;
}

.modal-close-btn {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 30px;
  cursor: pointer;
}

.class_connected {
  color: greenyellow;
}

.class_disconnect {
  color: red;
}

.lm_goldenlayout {
  background-color: #121212;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  /* border-left: 1px solid gray;
    border-right: 1px solid gray; */
  background-color: #212121;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(75, 75, 75, 0.5);
}

::-webkit-scrollbar-corner {
  background-color: #212121;
}

/* The container */
.cbx_container {
  display: block;
  position: relative;
  padding: 0px;
  padding-left: 30px;
  margin: 0px;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.cbx_container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.cbx_container .checkmark {
  position: absolute;
  top: 2px;
  left: 10px;
  height: 16px;
  width: 16px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.cbx_container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.cbx_container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* When the checkbox is disabled, add a grey background */
.cbx_container input:disabled ~ .checkmark {
  background-color: rgb(170, 182, 192);
}

/* Create the checkmark/indicator (hidden when not checked) */
.cbx_container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.cbx_container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.cbx_container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#commandComponent_zone {
  margin: 10px;
}

#commandComponent_zone table th,
td {
  padding: 4px;
  text-align: center;
  width: 136px;
}

#commandComponent_zone #config_zone table .btn_control {
  width: 272px;
}

#commandComponent_zone .panel_container {
  display: table;
  clear: both;
}
#commandComponent_zone .panel_container .left_panel {
  width: 60%;
  float: left;
}

#commandComponent_zone .panel_container .right_panel {
  width: 40%;
  float: left;
  border-left: solid;
  border-color: #848484;
  padding-left: 5px;
}

#countDown {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* border: 15px solid orange; */
  font-size: 500px;
  /* background-color: grey; */
  color: white;
}
